@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font: "Source Sans Pro", $font-stack;

$dark: #222;
$blue-dark: #2d3844;
$text-color: $dark;

$header-height: 57px;
$link-height: 80px;